<!DOCTYPE html>

<html>

<head>
    <title>CRUD</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{crudText}}
        <p> Denna webbplats skapades av Baraa Abdulaltif.</p>
        <p> This site was created by Baraa Abdulaltif. It uses data from mapbox.com and weatherstack.com </p>
    </div>
    
    {{>footer}}
</body>

</html>