<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="container">
            <div class="subContainer1">
                <div class="searchContainer">
                    <div>
                        <p>Use this site to get your weather!</p>

                        <form id="searchForm">
                            <input placeholder="Location" id="searchInput">
                            <button>Search</button>
                        </form>
                    </div>
                    <div class="textContainer">
                        <p id="message-1"></p>
                        <p id="message-2"></p>
                    </div>
                </div>
                <div class="picContainer">
                    <div class="imgContainer">
                        <img src="" id="weatherPic" alt="">
                    </div>
                </div>
            </div>

            <div class="crudContainer">
                <div class="subContainer2">
                    <p>This section for CRUD</p>
                    <div class="addContainer">
                        <button id="addButton">Add Data</button>
                        <button id="getButton">Get Data</button>
                    </div>
                    <div class="saveContainer">
                        <form id="updateForm">
                            <input placeholder="Location" id="updateInput">
                            <button>update Data</button>
                        </form>
                    </div>
                    <div class="deleteContainer">
                        <form id="deleteForm">
                            <input placeholder="Location" id="deleteInput">
                            <button>Delete Data</button>
                        </form>
                    </div>
                </div>
                <div class="crudResult">
                    <p id="resultCrud">Json</p>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>